#panelInicio {
    margin: 0 auto;
    border: none;
}

/*.ui-responsive {
    margin: 0 auto;
}*/
/*#botonInicio {
    align-self: center;
}*/

/*.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}*/