#banner{
    width: auto;
    align-self: center;
    background-color: #ffd800;
}

#menu{
    font-size: 17px;
    border-right: #000;
    border: #cc00cc;
}

#footer{
    position: absolute;
    width: auto;
    height: 120px;
    align-self: center;
    right: 7px;
    bottom: 7px;
    left: 7px;
    font-size: 16.5px;
    padding-top: .7em;
    padding-bottom: .7em;
    background-color: #ffd800;
}